{% extends "layout.html" %}
{% block body %}
<div class="view intro-2">
    <div class="full-bg-img">
        <div class="mask rgba-black-light flex-center">
            <div class="container text-center white-text">
                <div class="white-text text-center wow fadeInUp ">
                    <h1 class="frase"><strong>La mejor Aerolinea y a los mejores precios</strong></h1>
                    <h3 class="frase">¿Quieres tener la mejor experiencia de viaje?</h3>
                    <br>
                    <h5 class="frase">Reserva tu boleto aqui! y vive la mejor experiencia de tu vida!</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<section class=" container page-section">
    <div class="container">
        <h2 class="text-center"> Sobre nosotros!</h2>
        <hr>
    </div>
    <br>
    <div class="card-columns">
        <div class="container ">
            <div class="card text-center">
                <h2 class="blue-gradient text-white"> <br><i class="fas fa-plane-departure fa-3x"></i></h2>
                <div class="card-body">
                    <h4 class="card-title indigo-text"><a>Comodidad!</a></h4>
                    <br>
                    <p>El mejor servicio del mundo!</p>
                    <p>El mejor servicio de azafatas!</p>
                    <p>Los mejores pilotos del mundo!</p>
                </div>
            </div>
        </div>
        <div class="container card-colums">
            <div class="card text-center">
                <h2 class="blue-gradient text-white"> <br><i class="fas fa-shield-alt fa-3x"></i></h2>
                <div class="card-body">
                    <h4 class="card-title indigo-text"><a>Seguridad!</a></h4>
                    <br>
                    <p>El mejor servicio del mundo!</p>
                    <p>Contamos con todas las medidas de seguridad necesarias para tu tranquilidad!</p>
                </div>
            </div>
        </div>
        <div class="container card-colums">
            <div class="card text-center">
                <h2 class="blue-gradient text-white"> <br><i class="fas fa-hand-holding-usd fa-3x"></i></h2>
                <div class="card-body">
                    <h4 class="card-title indigo-text"><a>Economico!</a></h4>
                    <br>
                    <p>El mejor servicio del mundo!</p>
                    <p>Los mejores precios en el mercado!</p>
                    <p>Gasta Menos y Viaja Màs!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <h2 class="text-center"><strong>Lugares donde podemos Viajar!</strong></h2>
        <hr>
        <br>
        <div class="row">
            <div clas="col-md-12 text-center">
                <img class="imgOver img-fluid image" style="width:1100px;height:500px"
                    src="https://images.pexels.com/photos/351283/pexels-photo-351283.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="">
            </div>
            <div class="col-md-8">
                <img class="img-fluid image" style="width:750px;height:400px"
                    src="https://images.pexels.com/photos/783682/pexels-photo-783682.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="">
                <div class="row">
                    <div class="col-md-6">
                        <img id="revel" class="img-fluid image" style="width:375px;height:200px"
                            src="https://images.pexels.com/photos/427679/pexels-photo-427679.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            alt="">
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid image" style="width:375px;height:200px"
                            src="https://images.pexels.com/photos/1796736/pexels-photo-1796736.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img id="revUsa" class="img-fluid image" style="width:375px;height:615px"
                    src="https://images.pexels.com/photos/887849/pexels-photo-887849.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="">
            </div>
        </div>
    </div>
</section>



<style>
.view {
    background: url("https://images.pexels.com/photos/358319/pexels-photo-358319.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")no-repeat center center;
    background-size: cover;
}
html,
body,
header,
.view {
  height: 100%;
}
.navbar {
    z-index: 1;
}
.frase{
    font-family: Ubuntu,sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.page-section {
    padding: 100px 0;
  }
  
.page-section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  .page-section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

  .card{
      width: 325px;
      height: 380px;
  }
  @media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
}

.image{
    margin-bottom:8px;
    margin-top: 8px;
    padding-left: 4%;
    
}

#revel{
    padding-left: 8%;
}
#revUsa{
    padding-right: 7%;
} 
</style>

{% endblock %}